# Copyright (C) 2020 Sebastian Pipping <sebastian@pipping.org>
# Licensed under GPL v2 or later

name: Run the test suite

on:
  pull_request:
  push:
  schedule:
    - cron: '0 14 * * 5'  # Every Friday 2pm
  workflow_dispatch:

# Drop permissions to minimum for security
permissions:
  contents: read

jobs:
  run-tests:
    name: Run the test suite (${{ matrix.cc }}, ${{ matrix.runs-on }}, Python ${{ matrix.python-version }})
    strategy:
      fail-fast: false
      matrix:
        include:
            # No particular need for in-between versions of Python
          - cc: gcc-9
            install: gcc-9
            python-version: "3.10"
            runs-on: ubuntu-22.04
          - cc: gcc-12
            install: null
            python-version: "3.10"
            runs-on: ubuntu-22.04
          - cc: gcc-13
            install: null
            python-version: "3.10"
            runs-on: macos-14
          - cc: gcc-14
            install: null
            python-version: 3.14
            runs-on: macos-14
          - cc: gcc-14
            install: null
            python-version: 3.14
            runs-on: ubuntu-24.04
          - cc: gcc-15
            install: binutils gcc-15
            python-version: 3.14
            runs-on: ubuntu-24.04
          - cc: clang-11
            install: clang-11
            python-version: 3.14
            runs-on: ubuntu-22.04
          - cc: clang-18
            install: null
            python-version: 3.14
            runs-on: ubuntu-24.04
          - cc: musl-gcc
            install: musl-tools
            python-version: 3.14
            runs-on: ubuntu-24.04
    runs-on: ${{ matrix.runs-on }}
    steps:

    - name: Add repository "ubuntu-toolchain-r" for GCC 15
      if: "${{ matrix.cc == 'gcc-15' }}"
      run: |
        # NOTE: questing is 25.10 (not 24.04 LTS)
        sudo add-apt-repository 'deb http://security.ubuntu.com/ubuntu/ questing main'

    - name: Install runtime dependencies
      if: "${{ matrix.install }}"
      run: |
        set -x
        sudo apt-get update
        sudo apt-get install --no-install-recommends --yes -V ${{ matrix.install }}

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run the test suite
      run: |
        set -x
        python3 --version
        pip3 install -U setuptools  # for Python >=3.12
        pip3 install --require-hashes -r requirements.txt
        coverage run -a -m pytest -v -s -Wdefault -Werror

    - name: Smoke test the CLI
      env:
        cc: ${{ matrix.cc }}
      run: |
        if [[ "${cc}" = clang* ]]; then
          args=( --clang "${cc}" )
        else
          args=( --gcc "${cc}" )
        fi

        set -x
        pip3 install -e .
        coverage run -a -m resolve_march_native "${args[@]}" --vertical
        coverage report | tee coverage.txt
        coverage html

    - name: Upload HTML coverage report as an artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
      with:
        name: "coverage_${{ matrix.cc }}_python_${{ matrix.python-version }}_${{ matrix.runs-on }}"  # .zip
        path: |
          coverage.txt
          htmlcov/
        if-no-files-found: error
